# configuration for flake8 linter
[flake8]
ignore=
    # continuation line over-indented for hanging indent
    E126,
    # continuation line under-indented for visual indent
    E128,
    # line break before binary operator: this is conflicting with W504
    W503

max-line-length=120

per-file-ignores=
    frontend/rimeserver.py:E402
    rime/__init__.py:F401
    rime/providers/__init__.py:F401
    rime/graphql.py:F841
